.header {
  position: relative;
  border-bottom-width: 1px;
  border-bottom-color: #ececec;
  border-bottom-style: solid;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

/* nav */
.site-nav__logo {
  color: var(--primary-text-color);
  font-family: var(--logo-font-family);
  font-weight: var(--bold-font-weight);
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: var(--main-letter-spacing);

  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}

.site-nav__logo-initial {
  color: var(--link-hover-color);
  font-family: var(--logo-font-family);
  font-weight: var(--bold-font-weight);
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: var(--main-letter-spacing);

  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}

/*site nav*/

.site-nav {
  display: inline-flex;
  @media screen and (max-width: 767px) {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.site-nav--list {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 93px;
  padding-left: 0;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: var(--middle-font-weight);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  transition: var(--animation);

  &:hover,
  &:focus {
    color: var(--link-hover-color);
  }

  @media screen and (min-width: 768px) {
    position: relative;
    display: block;
  }
}

.site-nav__link--current {
  color: var(--link-hover-color);

  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--link-hover-color);
    opacity: 0;
  }

  &::after {
    opacity: 1;
  }
}

.contacts {
  display: none;
  align-items: center;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.contacts__item:last-child {
  @media screen and (min-width: 768px) {
    margin-top: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-left: 50px;
  }
}

.contacts__link {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-title-color);

  font-weight: var(--middle-font-weight);
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  transition: var(--animation);

  &:hover,
  &:focus {
    color: var(--link-hover-color);
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 0;
  }
}

.contacts__icon-envelop {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.contacts__icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.menu-container {
  display: none;
  position: absolute;
  top: 0%;
  right: 0%;
  width: 100vw;
  height: 100vh;
  // min-height: 796px;
  // min-width: 480px;
  background-color: var(--card-list-color);
  visibility: visible;
  opacity: 1;
  transition: 500ms opacity linear;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container.is-open {
  display: block;
}

.icon-cross,
.icon-menu {
  width: 40px;
  height: 40px;
}

.menu-container {
  padding: 40px 48px;
}

.menu__button-open {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: var(--link-hover-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu__button-close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    fill: var(--link-hover-color);
  }
}

.mobile-site-nav {
  display: inline-flex;
  flex-direction: column;
  margin: 0;
  padding-left: 0;
}

.mobile-site-nav__item {
  position: relative;
  padding-top: 32px;

  &:first-child {
    padding-top: 0;
  }
}

.mobile-site-nav__link {
  color: var(--primary-text-color);
  font-weight: var(--middle-font-weight);
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;

  transition: var(--animation);

  &:hover,
  &:focus {
    color: var(--link-hover-color);
  }
}

.mobile-site-nav__link--current {
  font-size: 40px;
  color: var(--link-hover-color);
}

.mobile-contacts {
  margin: 0;
  padding: 0;
  margin-top: 302px;
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts__link {
  color: var(--text-title-color);
  font-weight: var(--middle-font-weight);
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;

  transition: var(--animation);

  &:hover,
  &:focus {
    color: var(--link-hover-color);
  }
}

.mobile-contacts__link--tel {
  font-size: 34px;
  line-height: 1.176;
  color: var(--link-hover-color);
}

.mobile-social {
  display: flex;
  padding: 0;
  margin-top: 64px;
}

.mobile-social__item:not(:last-child) {
  margin-right: 20px;
}

.mobile-social__link {
  position: relative;
  font-weight: var(--middle-font-weight);
  font-size: 18px;
  line-height: 1.222px;
  letter-spacing: 0.02em;
  color: var(--link-hover-color);
}

.mobile-contacts__link--line {
  &::after {
    content: '';
    position: absolute;
    top: 10px;
    right: -21px;
    width: 22px;
    height: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}
