.team {
  background-color: var(--background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title {
  margin: 0;
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: var(--bold-font-weight);
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: var(--main-letter-spacing);
}

.team__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__item {
  background-color: var(--second-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__name {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;

  color: var(--primary-text-color);

  font-weight: var(--middle-font-weight);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: var(--main-letter-spacing);
}

.team__position {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;

  color: var(--text-title-color);

  font-weight: var(--normal-font-weight);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: var(--main-letter-spacing);
}

.social {
  display: flex;
  padding: 0;
  justify-content: space-between;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 30px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  fill: var(--icon-color);
  border-radius: 50%;

  transition: var(--animation);

  &:hover,
  &:focus {
    color: var(--link-hover-color);
    background-color: var(--link-hover-color);
    fill: var(--second-text-color);
  }
}

.social__icon {
  width: 20px;
  height: 20px;
  text-align: center;
}
