:root {
  --primary-text-color: #212121;
  --text-title-color: #757575;
  --link-hover-color: #2196f3;
  --second-text-color: #ffffff;
  --border-color: #eeeeee;
  --btn-lb-color: #2196f3;
  --icon-color: #afb1b8;
  --icon-second-color: #ffffff;
  --card-list-color: #ffffff;
  --icon-bg-color: rgba(255, 255, 255, 0.1);
  --background-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --footer-link-color: rgba(255, 255, 255, 0.6);

  --main-font-family: 'Roboto', sans-serif;
  --logo-font-family: 'Raleway', sans-serif;
  --logo-font-size: 26px;
  --max-bold-font-weight: 900;
  --bold-font-weight: 700;
  --middle-font-weight: 500;
  --normal-font-weight: 400;
  --main-letter-spacing: 0.03em;
  --uppercase-text-transform: uppercase;

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
